@import '../../../../../Styles/Colors.scss';
@import '../../../../../Styles/Fonts.scss';
@import '../../../../../Styles/Formats.scss';

.Crypto_Dashboard{
  @include Pages_Configs;
  min-height: 95vh;

  .Totals{
    position: relative;
    width: 100%;
    height: 250px;
    display: grid;

    .Total_Crypto{
      border-radius: $border_radius;
      display: flex;
      flex-direction: column;

      .Header{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        box-sizing: border-box;

        span{
          font-family: $font_family_poppins;
          font-size: 12px;
        }
      }

      .Body{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .Content{
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          gap: 15px;

          div,
          span{
            font-family: $font_family_poppins;
            font-size: 35px;
            margin-bottom: 60px;
          }
        }
      }
    }
  }

  .Portefolio_Evolution{
    width: 100%;
    height: 300px;
    border-radius: $border_radius;

    .Header{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-radius: 10px 10px 0px 0px;

      span{
        font-family: $font_family_poppins;
        font-size: 12px;
      }
    }

    .Body{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .Line_Chart{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .Pie_Chart_Total_Spent_And_Current_Investment_Zoom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    display: none;
    position: fixed;
    z-index: 5;
    border-radius: $border_radius;
    box-sizing: border-box;
    flex-direction: column;
    gap: 15px;
  
    &.active{
      display: flex;
    }

    .Header{
      position: relative;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      border-radius: 10px 10px 0px 0px;

      .Chart_Buttons{
        width: auto;
        display: flex;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button{
          width: 190px;
          justify-content: center;
          height: 20px;
          background: none;
          padding: 5px 10px 5px 10px ;
          border-radius: $border_radius;
          cursor: pointer;
          display: flex;
          align-items: center;
  
          span{
            font-family: $font_family_poppins;
            font-size: 12px;
            letter-spacing: 2px;
            
            &.active{
              color: $orange !important;
            }
          }
        }
      }
    }

    .Body{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;

      .Chart{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .Pie_Chart{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 80%;
        }
      }
    }
  }

  .Pie_Charts{
    position: relative;
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;  

    .Total_Spent,
    .Current_Investment{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border-radius: $border_radius;

      .Header{
        position: relative;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: right;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
        padding: 5px;
        box-sizing: border-box;

        .Title{
          position: absolute;
          font-family: $font_family_poppins;
          font-size: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        button {
          position: relative;
          background: none;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 5px;

          span{
            font-family: $font_family_open_sans;
            font-size: 12px;
            font-weight: 600;
            color: $orange !important;
          }

          .Icon{
            width: 15px;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }

      .Body{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .Pie_Chart{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80%;
          width: 350px;
        }
      }
    }
  }

  .Table_Wrapper{
    width: 100%;
    height: auto;
    border-radius: $border_radius;

    table{
      position: relative;
      width: 100%;
      height: auto;
      border-collapse: collapse;
      display: flex;
      flex-direction: column;
      border-radius: $border_radius;

      thead{
        position: relative;
        width: 100%;
        height: auto;
        height: auto;
        border-radius: 10px 10px 0px 0px;

        tr{
          position: relative;
          width: 100%;
          height: 100%;
          padding: 10px 0px 10px 0px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          th{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 5px 0px 5px 0px;

            span{
              font-family: $font_family_poppins;
              font-size: 11px;
            }
          }

          .Crypto{
            display: flex;
            justify-content: left;
            margin-left: 10px;
          }
        }
      }

      tbody{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 10px 10px;
        flex-direction: column;

        tr{
          position: relative;
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 10px 0px 10px 0px;
          cursor: pointer;

          &:last-child {
            border-radius: $border_radius;
            border: none !important;
          }

          td{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 5px 0px 5px 0px;

            span{
              font-family: $font_family_poppins;
              font-size: 11px;
            }
          }

          .Crypto{
            display: flex;
            justify-content: left;
            margin-left: 10px;
            
            img{
              width: auto;
              height: 20px;
            }
            
            .Symbol{
              font-size: 11px;
            }

            span:nth-child(3){
              display: none ;
            }
          }

          .Current_Price_And_Average_Price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;

            div{
              display: flex;
              gap: 5px;
            }
          }

          .Price_And_Avage_Price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;

            div{
              display: flex;
              gap: 5px;
            }
          }
        }

        .Extra_Content{
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          box-sizing: border-box;

          td{
            width: 300px;
            display: flex; 
            align-items: center;
            justify-content: space-between;

            div{
              width: auto;
            }
          }
          
          .Quantity_Parchased{

            div{
              display: flex;
              gap: 5px;
            }
          }

          .Total_Spent{
            display: none;
            
            div{
              display: flex;
              gap: 5px;
            }
          }

          .Current_Investment{
            display: none;
          }
        }
      }
      
      tfoot{
        position: relative;
        width: 99%;
        display: flex;

        tr{
          width: 100%;
          display: flex;

          td{
            width: 100%;
          }
        }
      }
    }
  }
}

.Dark_Mode{

  .Crypto_Dashboard{

    .Totals{
      
      .Total_Crypto,
      .Info{
        background-color: $secundary_color_dark;
        border: $border_dark;
      }

      .Total_Crypto{

        .Header{
          background-color: $terciary_color_dark;

          span{
            color: $gray;
          }
        }

        .Body{

          .Diviser{
            color: $gray;
          }
        }
      }
      
      .Info{

        ul{

          li{
            background-color: $terciary_color_dark;
            color: $gray;
          }
        }
      }
    }

    .Portefolio_Evolution{
      background-color: $secundary_color_dark;
      border: $border_dark;

      .Header{
        background-color: $terciary_color_dark;
        color: $gray;
      }
    }

    .Pie_Chart_Total_Spent_And_Current_Investment_Zoom{
      background-color: $primary_color_dark;
      border: $border_dark;

      .Header{
        background-color: $secundary_color_dark;

        .Chart_Buttons{
          
          button{
            border: $border_dark;

            span{
              color: $gray;
            }
          }
        }
      }
    }

    .Pie_Charts{

      .Total_Spent,
      .Current_Investment{
        background-color: $secundary_color_dark;
        border: $border_dark;

        .Header{
          background-color: $terciary_color_dark;

          .Title{
            color: $gray;
          }
        }
      }
    }
  
    .Table_Wrapper{
      border: $border_dark;

      table{

        thead{
          background-color: $terciary_color_dark;
  
          tr{
  
            th{
  
              span{
                color: $gray;
              }
            }
          }
        }

        tbody{
          background-color: $secundary_color_dark;
  
          tr{
            border-bottom: 2px solid $fourth_color_Dark;
            
            td{
              color: $gray;
            }
          }
        }
      }
    }
  }
}

.Light_Mode{

  .Crypto_Dashboard{

    .Totals{
      
      .Total_Crypto,
      .Info{
        background-color: $secundary_color_light;
        border: $border_light;
      }

      .Total_Crypto{

        .Header{
          background-color: $terciary_color_light;

          span{
            color: $gray_dark;
          }
        }

        .Body{

          .Diviser{
            color: $gray_dark;
          }
        }
      }
      
      .Info{

        ul{

          li{
            background-color: $terciary_color_dark;
            color: $gray;
          }
        }
      }
    }

    .Portefolio_Evolution{
      background-color: $secundary_color_light;
      border: $border_light;

      .Header{
        background-color: $terciary_color_light;
        color: $gray_dark;
      }
    }

    .Pie_Chart_Total_Spent_And_Current_Investment_Zoom{
      background-color: $primary_color_light;
      border: $border_light;

      .Header{
        background-color: $secundary_color_light;

        .Chart_Buttons{
          
          button{
            border: $border_light;

            span{
              color: $gray_darker;
            }
          }
        }
      }
    }

    .Pie_Charts{

      .Total_Spent,
      .Current_Investment{
        background-color: $secundary_color_light;
        border: $border_light;

        .Header{
          background-color: $terciary_color_light;

          .Title{
            color: $gray_dark;
          }
        }
      }
    }
  
    .Table_Wrapper{
      border: $border_light;

      table{

        thead{
          background-color: $terciary_color_light;
  
          tr{
  
            th{
  
              span{
                color: $gray_dark;
              }
            }
          }
        }

        tbody{
          background-color: $secundary_color_light;
  
          tr{
            border-bottom: 2px solid $fourth_color_light;
            
            td{
              color: $gray_dark;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px){
  .Crypto_Dashboard{

    .Pie_Chart_Total_Spent_And_Current_Investment_Zoom{

      .Header{
        height: 70px;

        .Chart_Buttons{
          flex-direction: column;
        }
      }
      
      .Body{
        flex-direction: column;

        .Chart{
          overflow: hidden;

          .Pie_Chart{
            width: 450px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px){
  .Crypto_Dashboard{

    .Pie_Charts{
      height: 450px;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;

      .Total_Spent,
      .Current_Investment{

        .Body{

          .Pie_Chart{
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .Table_Wrapper{

      table{
        span{
          font-size: 11px !important;
        }

        thead{

          tr{

            .Total_Spent_And_Current_Investment{
              display: none;
            }

            .Current_Price_And_Average_Price{

              span:nth-child(2){
                display: none;
              }

              span:nth-child(3){
                display: none;
              }
            }
          }
        }

        tbody{

          tr{

            .Total_Spent_And_Current_Investment{
              display: none;
            }

            .Current_Price_And_Average_Price{
              div:nth-child(2),
              div:nth-child(3){
                display: none;
              }
            }

            .Crypto{

              span:nth-child(2){
                display: none ;
              }

              span:nth-child(3){
                display: flex ;
              }
            }
          }

          .Extra_Content{
            
            .Total_Spent{
              display: flex;
            }

            .Current_Investment{
              display: flex;
            }

            .sAverage_Price{
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px){
  .Crypto_Dashboard{

    .Totals{

      .Total_Crypto{

        .Body{
  
          .Content{
  
            div,
            span{
              font-size: 25px !important;
            }
          }
        }
      }
    }
  }
}