@import '../../../Styles/Colors.scss';
@import '../../../Styles/Fonts.scss';
@import '../../../Styles/Formats.scss';

.Dashboard{
  @include Pages_Configs;
  min-height: 95vh;

  .Total_Heritage{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: $border_radius;

    .Header{
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-around;
      border-radius: 10px 10px 0px 0px;
      padding: 5px;
      box-sizing: border-box;

      span{
        font-family: $font_family_poppins;
        font-size: 12px;
      }
    }

    .Body{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      span{
        font-family: $font_family_poppins;
        font-size: 50px;
      }
    }
  }
}

.Dark_Mode{

  .Dashboard{
    
    .Total_Heritage{
      background-color: $secundary_color_dark;
      border: $border_dark;

      .Header{
        background-color: $terciary_color_dark;

        span{
          color: $gray;
        }
      }

      .Body{
        
        span{
          color: $gray;
        }
      }
    }
  }
}

.Light_Mode{

  .Dashboard{
    
    .Total_Heritage{
      background-color: $secundary_color_light;
      border: $border_light;

      .Header{
        background-color: $terciary_color_light;

        span{
          color: $gray_dark;
        }
      }

      .Body{
        
        span{
          color: $gray_dark;
        }
      }
    }
  }
}