$primary_color_dark: #0b1727;
$primary_color_light: #f7f9fc;

$secundary_color_dark: #121e2d;
$secundary_color_light: #ffff;

$gray: #9da9bb;
$gray_light: rgba(134, 140, 150, 0.411);

$blue_light: #4695ff;
$blue: #3083f1;
$blue_dark: #062a57;
$blue_darker: #01224b;

$black: #4e565f;

$white: #e0e0e0;

$yellow: #f0b90b;
$yellow_light: #f0c60b;

$red_light: #e76f6f;