@import '../../../Styles/Global.scss';

.Header_Home {
  position: fixed;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.Dark_Mode .Header_Home {
  background-color: $primary_color_dark;
}
  
.Light_Mode .Header_Home{
  background-color: $primary_color_light;
}

