@use './Styles/Colors.scss' as Colors;
@use './Styles/Fonts.scss';
@use './Styles/Formats.scss';

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

.Dark_Mode{

  main{
    background-color: Colors.$primary_color_dark;
  }
}

.Light_Mode{
  
  main{
    background-color: Colors.$primary_color_light;
  }
}